@use './../../styles/settings/variables.scss' as variables;

.listItem {
  width: 100%;
  cursor: pointer;

  &.active {
    .itemTitle {
      background-color: variables.$white;
      border-color: variables.$terciary transparent variables.$terciary
        variables.$terciary;
    }
  }
}

.itemTitle {
  color: variables.$secondary;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  pointer-events: none;
  z-index: 10;
  border: 3px solid transparent;
  margin-right: -3px;
  border-radius: 8px 0 0 8px;
  padding: variables.$spacing * 2;

  @media (max-width: 576px) {
    font-size: 16px;
    padding: variables.$spacing;
  }
}

.itemCity {
  font-size: 16px;
  color: variables.$primary;
  font-weight: 400;
}
