@use './../../styles/settings/variables.scss' as variables;

.paragraph {

  a {
    display: inline;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: variables.$primary;
  }
}

.form {
  margin-top:variables.$spacing * 6;
  position:relative;

  @media (max-width: 576px) {
    margin-top:variables.$spacing * 4;
  }

  button {
    width:30%;
    color:variables.$white;
    padding: variables.$spacing * 2 variables.$spacing * 3;
    border-radius: 8px;
    background-color: variables.$secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 4px 4px 5px variables.$primary;
    outline:none;
    border:none;
    cursor: pointer;
    transition:background-color 0.2s, transform 0.2s, box-shadow 0.2s;

    &:hover {
      background-color: variables.$button-hover;
      color:white;
      text-decoration: none;
    }

    &:enabled:active {
      box-shadow: 2px 2px 3px variables.$primary;
      transform:translate(2px, 4px);
    }

    &:disabled {
      background-color: variables.$button-disabled;
      cursor:not-allowed;
    }

    @media (max-width: 576px) {
      width:100%;
    }
  }
    
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top:0;
    transform: translate(-32px, -24px);
    width:calc(100% + 64px);
    height: calc(100% + 48px);
    background-color: variables.$terciary;
    z-index: -1;
    opacity:0.4;
  
    @media (max-width: 576px) {
      width:calc(100% + 32px);
      height: calc(100% + 32px);
      transform: translate(-16px, -16px);
    }
  }
}

.inputWrapper {
  margin-bottom:variables.$spacing * 3;
  width:80%;

  @media (max-width: 768px) {
    width:100%;
  }

  @media (max-width: 576px) {
    display:flex;
    flex-direction: column;
  }
}

.inputEmail {
  padding:variables.$spacing;
  margin-right: variables.$spacing;
  height: variables.$spacing * 6;
  width:65%;
  font-size: 16px;
  color:variables.$primary;
  border-radius: 8px;
  border:none;
  appearance: none;
  outline: none;
  box-shadow: inset 0 0 0 1px variables.$primary;

  &::placeholder {
    color: variables.$primary;
    font-size: 16px;
  }

  &:focus {
    box-shadow: 0 0 0 1px variables.$secondary ;
  }

  @media (max-width: 576px) {
    width:100%;
    margin-bottom:variables.$spacing * 2;
  }
}

.error {
  color:variables.$danger;
}

.checkboxLink {
  margin-left: variables.$spacing;
  a {
    display: inline;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: variables.$primary;
  }
}
