@use './../../styles/settings/variables.scss' as variables;

.paragraph {
  text-align: center;
  margin-bottom: variables.$spacing * 3;
}

.reservationTable {
  width: 100%;
  box-shadow: 0 0 0 2px variables.$terciary;
  border-collapse: collapse;
  border-radius:8px;

  tr {
    th,
    td {
      padding:variables.$spacing;
    }
    th {
      text-align: left;
      background-color: variables.$terciary;
      color:variables.$white;
      border-bottom:1px solid variables.$white;
    }
    td {
      border-bottom:1px solid variables.$terciary;
    }
    &:last-child {
      td {
        border-bottom:none;
      }
      th {
        border-bottom: none;
      }
    }
  }

  @media (max-width: 576px) {
    font-size:14px;
  }
}
