@use './../../styles/settings/variables.scss' as variables;

.wrapper {
  max-width:800px;
  width:100%;
  height:100%;
  min-height: 400px;
  padding:variables.$spacing * 4;
  border-radius:16px;
  box-shadow: 2px 2px 16px variables.$terciary;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  margin:0 auto;

  

  @media (max-width: 576px) {
    padding:variables.$spacing * 2;
  }
}

.terms {
  width:100%;
  margin-bottom: variables.$spacing * 3;
}

.image {
  position:absolute;
  top:variables.$spacing * 3;
  left:variables.$spacing * 4;
  display:block;
  max-width:variables.$spacing * 8;
  width:100%;
  max-height: variables.$spacing * 8;
  margin-left:auto;


  @media (max-width: 576px) {
    max-width:variables.$spacing * 6;
    max-height: variables.$spacing * 6;
  }
}

.listDate {
  list-style: none;
  margin-top: variables.$spacing * 6;
  display:flex;
  padding:0;
  flex-direction: column;
  width:30%;
  float: left;
  justify-content:center;

  @media (max-width: 576px) {
    margin-top:variables.$spacing * 7;
  }
}



.listTime {
  min-height: 240px;
  list-style: none;
  display:flex;
  padding:0;
  flex-direction: column;
  row-gap:variables.$spacing * 2;
  padding:variables.$spacing * 4;
  border-radius: 8px;
  border:3px solid variables.$terciary;
  width:70%;
  align-items:center;
  justify-content:center;

  @media (max-width: 576px) {
    font-size: 16px;
    padding:variables.$spacing * 2;
  }
}

.price {
  width: 100%;
  p {
    span {
      font-weight: 600;
    }

    a {
      text-decoration: underline;
      display: inline-block;
      padding-left: variables.$spacing * 0.5;
    }
  }
}

.paragraphBg {
  position:relative;
  
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top:0;
    transform: translate(-32px, -8px);
    width:calc(100% + 64px);
    height: calc(100% + 16px);
    background-color: variables.$terciary;
    z-index: -1;
    opacity:0.4;

    @media (max-width: 576px) {
      width:calc(100% + 32px);
      transform: translate(-16px, -8px);
    }
  }
}

.voucher {
  display:block;
  max-width: 70%;
  margin:0 auto;
  pointer-events: none;
  
  @media (max-width: 576px) {
    max-width: 100%;
  }
}