@use './../../styles/settings/variables.scss' as variables;

.footer {
  display:flex;
  height:variables.$spacing * 7;
  margin:0 auto;
  padding-top:variables.$spacing * 2;
  padding-bottom:variables.$spacing * 2;
  justify-content:center;
  align-items:center;
  color:variables.$white;
  background-color: variables.$primary;
  &:global(.container) {
    max-width:1920px;
  }
}

.footer_information {
  margin-right:variables.$spacing * 3;
}

.footer_contact {

a {
  text-decoration: underline;
  text-underline-offset:1px;
}
}