@use './../../styles/settings/variables.scss' as variables;

.wrapper {
  background-color: variables.$primary;
}

.content {
  display: flex;
  gap: variables.$spacing * 3;
  row-gap: variables.$spacing;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: variables.$white;

  &:global(.container) {
    padding-top: variables.$spacing * 2;
    padding-bottom: variables.$spacing * 2;

    @media (max-width: 768px) {
      padding-top: variables.$spacing;
      padding-bottom: variables.$spacing;
    }
  }

  @media (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.information {
  margin: 0;

  @media (max-width: 992px) {
    margin-right: 0;
    font-size: 14px;
  }

  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.contact {
  margin: 0;

  a {
    color: variables.$white;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: variables.$white;
    text-underline-offset: 1px;
    transition: text-decoration-color 0.2s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.gdpr {
  margin-bottom: 0;

  a {
    color: variables.$white;
    text-decoration-line: underline;
    text-decoration-color: variables.$white;
    text-underline-offset: 1px;
    transition: text-decoration-color 0.2s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 13px;
  }
}
