@use './../../styles/settings/variables.scss' as variables;

.footer-wrapper {
  background-color: variables.$primary;
}

.footer__content {
  display:flex;
  height:variables.$spacing * 7;
  margin:0 auto;
  justify-content:center;
  align-items:center;
  color:variables.$white;

  
  &:global(.container) {
    padding-top:variables.$spacing * 2;
    padding-bottom:variables.$spacing * 2;

    @media (max-width: 768px) {
      padding-top:variables.$spacing;
      padding-bottom:variables.$spacing;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    height:variables.$spacing * 9;
  }
}

.footer__information {
  margin:0;
  margin-right:variables.$spacing * 3;

  @media (max-width: 768px) {
    margin-right:0;
    font-size:14px;
  }

  @media (max-width: 576px) {
    font-size:13px;
  }
}

.footer__contact {
  margin:0;
  a {
    text-decoration: underline;
    text-underline-offset:1px;
  }
  @media (max-width: 768px) {
    margin-bottom:variables.$spacing * 0.5;
    font-size:14px;
  }
  @media (max-width: 576px) {
    font-size:13px;
  }
}