@use './../../styles/settings/variables.scss' as variables;

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index:20;

  &:global(.container) {
    max-width:1920px;
    padding-top:variables.$spacing;
    padding-bottom:variables.$spacing;
  }
}

.linkLogo {
  max-height: 80px;
  max-width: 150px;
  img {
    height: 100%;
    width: 100%;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.listItem {
  display: inline-block;
  width: auto;
  color: variables.$primary;
  font-size: 18px;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 16px 24px;

    @media (max-width: 768px) {
      padding:variables.$spacing * 2 variables.$spacing * 3;
    }
  }

  @media (max-width: 768px) {
    width:100%;
    text-align: center;
  }
}


// .crossIcon,
// .menuIcon {
//   border:none;
//   background-color:transparent;
//   width:variables.$spacing * 14;
//   cursor:pointer;
//   max-height: 100%;
  
//   svg {
//     display:block;
//     max-width:variables.$spacing * 7;
//     width:100%;
//     max-height: variables.$spacing * 7;
//     margin-left:auto;

//     path {
//       transition:fill 0.2s;
//     }

//     @media (max-width: 576px) {
//       max-width:variables.$spacing * 6;
//       max-height: variables.$spacing * 6;
//     }
//   }

//   &:hover  {
//     path {
//       fill:variables.$terciary;
//     }
//   }
// }

