@use './variables.scss' as variables;
@import './../classes.scss';

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700&family=Montserrat:wght@300;400;500;600;700&display=swap');;

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  color:variables.$primary;
 // width: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

* {
  box-sizing: border-box;

  // &:focus {
  //   outline: 1px solid variables.$primary;
  //   border-radius: 8px;
  // }
}

main {
  padding-top: variables.$spacing * 10;
  min-height: calc((100vh - 56px));
  position:relative;
  //width: 100%;


  // @media (max-width: 768px) {
  //  padding-top:variables.$spacing * 10;
  // }
}

footer {
  margin-top:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top:0;
  margin-bottom: 0;
  font-weight: 700;
  color:variables.$secondary;
  font-family:'Arima Madurai', cursive;
  text-align: center;
}

a {
  display:inline-block;
  color:variables.$primary;
  text-decoration: none;
  transition: color 0.2s;
  
  &:hover,
  &:focus {
    text-decoration: underline;
    color: variables.$terciary;
  }
}

p {
  margin-top:0;
  margin-bottom:variables.$spacing * 2;
  font-size:16px;
  line-height:24px;
  transform: translateY(-1px);
}

ul,
li {
  line-height:24px;
  margin-top:0;
}