$white: #fff;

$primary: #664a5a;
$secondary:#449DD1;
$terciary: #C4B2BC;
$primary-light: #C5979D;
$secondary-light:#78C0E0;
$button-hover:#3c8ebd;
$danger:#b3230a;
$button-disabled:#818b91;


$spacing: 8px;