@use './../../styles/settings/variables.scss' as variables;

.heading {
  text-align: left;
  margin-bottom: variables.$spacing * 3;
}

.content {
  width:40%;

  p {
    margin-bottom: variables.$spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    width:100%;
  }
}

.contactTable {
  width: 100%;
  box-shadow: 0 0 0 2px variables.$terciary;
  margin-bottom:variables.$spacing * 3;
  border-collapse: collapse;
  border-radius:8px;
  
  tr {
    th,
    td {
      padding:variables.$spacing;
    }
    th {
      text-align: left;
      background-color: variables.$terciary;
      color:variables.$white;
      border-bottom:1px solid variables.$white;
    }
    td {
      border-bottom:1px solid variables.$terciary;
    }
    
    &:first-child {
      th {
        border-radius: 8px 0 0 0;
      }
    }

    &:last-child {
      td {
        border-bottom:none;
      }
      th {
        border-bottom: none;
        border-radius: 0 0 0 8px;
      }
    }
  }
  
  a {
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    font-size:14px;
  }
}


.externalLink {
  a {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: variables.$primary;
  }
}


.map {
  border-radius: 8px;
  width:60%;

  @media (max-width: 768px) {
    width:100%;
  }

  iframe {
    border-radius: 8px;
    width:100%;
    height:100%;

    @media (max-width: 768px) {
      height:350px;
    }

    @media (max-width: 576px) {
      height:300px;
    }
  }
}