@use './../../styles/settings/variables.scss' as variables;

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: variables.$spacing;

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.galleryItem {
  border-radius: 8px;
  overflow: hidden;

  &.image3 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;

    @media (max-width: 768px) {
      grid-column: 2/ 4;
    }
  }

  &.image4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;

    @media (max-width: 768px) {
      grid-column: 1/ 3;
      grid-row: 4 / 6;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}
