@use './../../styles/settings/variables.scss' as variables;

.reservation-banner {
  position:relative;

  &:before {
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color: variables.$terciary;
    z-index:-5;
  }
  :global(.container) {
    padding-top: variables.$spacing * 4;
    padding-bottom: variables.$spacing * 4;
    display:flex;
    align-items:center;
    justify-content:center;
    column-gap: variables.$spacing * 6;

    svg {
      max-width:120px;
      max-height:95px;
      width:100%;
      height:100%;

      @media (max-width: 576px) {
        max-width:88px;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      row-gap: variables.$spacing * 4;
    }
  }
}
.calendar-window {
  fill: variables.$secondary;
}