@use './../../styles/settings/variables.scss' as variables;

.button {
  color:variables.$white;
  padding: variables.$spacing * 2 variables.$spacing * 3;
  border-radius: 8px;
  background-color: variables.$secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 4px 6px 10px variables.$primary;
  transition:background-color 0.2s, transform 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: variables.$button-hover;
    color:white;
    text-decoration: none;
  }
  &:active {
    box-shadow: 2px 2px 3px variables.$primary;
    transform:translate(2px, 4px);
  }
}