@use './../../styles/settings/variables.scss' as variables;

.wrapper {
  max-width:448px;
  width:100%;
  min-height:100%;
  padding:variables.$spacing * 4;
  border-radius:16px;
  box-shadow: 2px 2px 16px variables.$terciary;
  position:relative;
  display:flex;
  flex-direction:column;

  @media (max-width: 1200px) {
    max-width: calc((100% - 84px) / 2); //padding and gap size
  }

  @media (max-width: 992px) {
    max-width: calc((100% - 32px) / 2); 
  }

  @media (max-width: 992px) {
    max-width:500px;
  }
}
.titleLink {
  color:variables.$secondary;
  &:hover {
    color:variables.$button-hover;
    .title {
    color:variables.$button-hover;
    }
  }
}

.title {
  text-align:center;
}

.image {
  position:absolute;
  left:16px;
  top:16px;
  width:50px;
}

.linkIcon {
  display:block;
  position:relative;
  width: variables.$spacing * 4;
  height:variables.$spacing * 4;
  flex-shrink: 0;
  left: 0;
  top:0;
  margin-left: variables.$spacing;
  transition: transform 0.2s;
  transform: translateX(0);

  path {
    transition: fill 0.2s; 
  }
}

.link {
  display:flex;
  width:fit-content;
  align-items:center;
  justify-content: flex-end;
  padding:variables.$spacing;
  margin-top:auto;
  margin-left:auto;

  &:hover {
    .linkIcon {
      transform:translateX(6px);
      path {
      fill:variables.$terciary;}
    }
  }
}

