@use './../../styles/settings/variables.scss' as variables;

.section {
  :global(.container) {
    padding-bottom: variables.$spacing * 32;

    @media (min-width: 992px) {
      padding-top: variables.$spacing * 7;
    }
    @media (max-width: 1919px) {
      padding-bottom: variables.$spacing * 24;
    }
  }}

.wrapper {
  display:flex;
  height:100%;
  gap:variables.$spacing * 4;
  justify-content:center;

  @media (max-width: 1200px) {
    flex-wrap:wrap;
  }
}
