@use './settings/variables.scss' as variables;

.pageWrapper {
  display:grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding-left:variables.$spacing * 2;
  padding-right: variables.$spacing * 2;
  padding-top: variables.$spacing * 5;
  padding-bottom: variables.$spacing * 5;
  margin-left:auto;
  margin-right:auto;
  width:100%;

  @media (min-width: 576px) {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: variables.$spacing * 6;
    padding-bottom: variables.$spacing * 6;
    max-width: 768px;
  }

  @media (min-width: 768px) {
    padding-top: variables.$spacing * 7;
    padding-bottom: variables.$spacing * 7;
    max-width: 992px;
  }

  @media (min-width: 992px) {
  
    max-width: 1200px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1460px;
  }
}

.titleDecoration {
  // position: relative;
  // width:fit-content;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // background-color: variables.$white;
  // padding: 0 variables.$spacing * 2;
  // z-index:10;

  // &::before {
  //   content: "";
  //   background-color: variables.$terciary;
  //   position: absolute;
  //   display: inline-block;
  //   height: 1px;
  //   top:50%;
  //   left:0;
  //   width: calc(100% + 48px * 2);
  //   transform: translateX(-48px);
  //   z-index:-10;

  //   @media (max-width: 768px) {
  //     width: calc(100% + 32px * 2);
  //     transform: translateX(-32px);
  //   }

  //   @media (max-width: 576px) {
  //     width: calc(100% + 24px * 2);
  //     transform: translateX(-24px);
  //   }
  //   }
  // }

  &::before {
    content: "";
    background-color: variables.$terciary;
    position: relative;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    left:variables.$spacing * -1;
    width: variables.$spacing * 6;

    @media (max-width: 768px) {
      width: variables.$spacing * 4;
    }

    @media (max-width: 576px) {
      width: variables.$spacing * 3;
    }
  }

  &::after {
    content: "";
    background-color: variables.$terciary;
    position: relative;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    right:variables.$spacing * -1;
    width: variables.$spacing * 6;

    @media (max-width: 768px) {
      width: variables.$spacing * 4;
    }

    @media (max-width: 576px) {
      width: variables.$spacing * 3;
    }
  }
}

.mainHeading {
  font-size:40px;
  transform: translateY(2px);
  line-height:variables.$spacing * 6;
  margin-bottom: variables.$spacing * 6;

  @media (max-width: 992px) {
    font-size:32px;
    transform: translateY(1px);
    line-height:variables.$spacing * 5;
  }

  @media (max-width: 576px) {
    font-size:26px;
    transform: translateY(0);
    line-height:variables.$spacing * 4;
  }
}

.sectionHeading {
  font-size:32px;
  transform: translateY(1px);
  line-height:variables.$spacing * 5;
  margin-bottom: variables.$spacing * 3;

  @media (max-width: 992px) {
    font-size:26px;
    transform: translateY(0);
    line-height:variables.$spacing * 4;
  }

  @media (max-width: 576px) {
    font-size:24px;
    transform: translateY(0);
    line-height:variables.$spacing * 4;
  }
}

.subheading {
  font-size:26px;
  transform: translateY(-1px);
  line-height:variables.$spacing * 4;
  margin-bottom: variables.$spacing * 2;

  @media (max-width: 992px) {
    font-size:24px;
    transform: translateY(0);
    line-height:variables.$spacing * 4;
  }

  @media (max-width: 576px) {
    font-size:20px;
    transform: translateY(-3px);
    line-height:variables.$spacing * 3;
  }
}

// Menu style

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  right: 24px;
  top: 16px;
  border:none;
  background-color:transparent;
  max-width:variables.$spacing * 6;
  max-height:variables.$spacing * 6;
  cursor:pointer;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  border:none;
  background-color:transparent;
  width:variables.$spacing * 4 !important;
  height:variables.$spacing * 4 !important;
  cursor:pointer;
 
}

/* Color/shape of close button cross */
.bm-cross {
  
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top:0;
  right:0;
}

/* General sidebar styles */
.bm-menu {
  background: variables.$white;
  box-shadow:0 0.5rem 2rem #1d1d1b1a;
  padding-top: 48px;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}