@use './settings/variables.scss' as variables;

.navigation {
  height: variables.$spacing * 13;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top:variables.$spacing * 3;
  padding-bottom:variables.$spacing * 3;
  z-index:20;

  &:global(.container) {
    max-width:1920px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: variables.$secondary;
    opacity: 0.5;
  }
}
.navigation__link-logo {
  max-height: 80px;
  max-width: 150px;
  img {
    height: 100%;
    width: 100%;
  }
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation__list-item {
  display: inline-block;
  color: variables.$primary;
  font-size: 18px;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
  }
}
